.fillpage{
	height: 100vh;
}
.fillpages{
	height: 150vh;
}
.pfbutton{
	width: 100%;
	height: 100%;
}
.center{
	text-align: center;
}
.bCenter{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.fillish{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 80%;
	height: 70%;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.flexTrack{
    display: flex;
    flex-wrap: wrap;
}
.flexTrack > div{
	border: 3px solid black;
}
.flexTrack > .d1{
	width: 75%;
	height: 70%;
}
.flexTrack > .d2{
	width: 25%;
	height: 70%;
}
.flexTrack > .d3{
	width: 50%;
	height: 30%;
}
.flexTrack > .d31{
	width: calc(50% / 3);
	height: 30%;
}
.flexTrack > .dv1{
	width: 100%;
	height: 20%;
}
.flexTrack > .dv2{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flexTrack > .dv3{
	position: relative;
	width: 100%;
	height: 80%;
}
.vertcenter{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-60%);
}
.solid1{
	background: white;
}
.grad1{
	background: linear-gradient(to top left, Aqua, Lime);
}
.grad2{
	background: linear-gradient(to top right, LightSkyBlue, LightBlue);
}
.grad3{
	background: linear-gradient(to bottom left, LightGreen, Lime);
}
.adjustfont{
	font-size: 5vw;
}
.divFood{
	background-color: LightBlue;
}
.divFood:hover{
	background-color: LightSkyBlue;
}
.spanNutr{
	font-size:20px;
	padding: 2px;
	margin: 2px;
	border: 1px solid black;
}
.rel{
    position: relative;
}
.overlay{
    position: absolute;
    width: 640px;
    height: 480px;
}